*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


nav{
    height: 20px;
    border: solid 0.25px #f4f4f4;
    border-bottom: 2px solid rgb(223, 217, 134);
    border-right: 2px solid rgb(223, 217, 134);
    margin: 5px;
    box-shadow: 0px 5px 15px 5px #fbdcdc;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    top: 0;
    width: 95%;
    position: fixed;
    background: rgba(255,255, 255, 0.1);
   backdrop-filter: blur(90px);
 color: rgb(223, 217, 134);
}

.logo{
    display: flex;
    justify-content: space-between;
    color:#c62a2a;
 
}
.logo img{
    margin-top: -20px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-right: -46px;
}

.logo h1{
    margin-top: 10px;
    font-size: 30px;
    margin-left: 15px;
}
.option{
 display: flex;
 justify-content: space-between;


}
.option a h1{
    margin-right: 30px;
    color: rgb(223, 217, 134);
}

.main{
    width: 195vh;
    height: 100vh;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.description{
    width: 45%;
    height: 90vh;
    margin: 90px 0px 0px 30px;
}


.description h1{
    font-size: 70px;
    color:#c62a2a;
    margin: 150px 0px 10px 40px;
}
.description h2{
    font-size: 50px;
    color:#f67171;
    margin: 0px 0px 40px 20px;
}
.description p{
    font-size: 20px;
    margin: 0px 15px 30px 20px;
    
}
.description button{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-size: 25px;
    background-image: linear-gradient(#fcfbfb,#fc9999);
    margin: 10px 0px 30px 200px;
    border: 2px solid pink;
   

}

.description button:hover{
    box-shadow: 0px 5px 15px 5px #fbdcdc;
    border: 2px solid palevioletred;
}

.pictur{
    width: 45%;
    height: 90vh;
    margin: 90px 30px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pictur div{
    width: 600px;
    height: 600px;
    border-radius: 66% 46% 46% 5%;
    background-image: url(/FrontEnd/img/model7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 5px 15px 5px #fbdcdc;
    animation-name: fushen;
    animation-iteration-count: infinite;
   animation-duration: 30s;
}
@keyframes fushen{
    0%{background-image: url(/FrontEnd/img/model2.jpg); background-position-y:50% ;};
    25%{background-image: url(/FrontEnd/img/model1.jpg);background-position-y:20% ;};
    50%{background-image: url(/FrontEnd/img/model4.jpg);background-position-y:0% ;};
    75%{background-image: url(/FrontEnd/img/MODEL6.jpg);background-position-y:30% ;};
   100%{background-image: url(/FrontEnd/img/model10.jpg);background-position-y:40% ;};
}